body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom,rgb(168, 216, 241), rgb(79, 76, 165));

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #113f67;
    color: black;
    position: sticky;
    border-radius: 20px;
    height: 10vh;
    margin: 5px;
}

.logo{
    align-items: center;
}
.logo a{
    color: #a2a8d3;
    /* text-decoration: line-through; */
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.logo a:hover{
    color: #e7eaf6;
    box-shadow: 0px 0px 5px aqua;
    transition: 1s;
}
.nav-links{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    margin:5px;
    list-style: none;
    float: left;
}
.nav-links li a{
    color: #e7eaf6;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.nav-links li a:hover{
    color: aqua;
    box-shadow: 0px 5px 5px aqua;
    transition: 1s ease;
}

.container{
    height: 86vh;
    display:grid;
    justify-content: left;
}

.intro{
    display: block;
    height: 200px;
    width: 500px;
    margin: 100px 20px 20px 100px;
}
#explore-us{
    height: 40px;
    width: 150px;
    color: #113f67;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #113f67;
    display: inline-block;
    margin: 0px 100px;
    align-items: end;
    cursor: pointer;
}
#explore-us:hover{
    background-color: #113f67;
    border-radius: 10px;
    color: #e7eaf6;
    box-shadow: 0px 0px 5px aqua;
    transition: 2s;
}
